.idea
CMakeLists.txt
cmake-build-debug

#output files
output*
invmat-output

#executable
invmat

#objects
*.o
linear_system/*.o
linear_system/*.h.gch
io/*.o
io/*.h.gch
common/*.o
common/*.h.gch
lu_factorization/*.o
lu_factorization/*.h.gch

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
